.wrapper {
    width: 70%;
    margin: auto;
}

.form-input {
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;

}

.form-input input,
textarea {
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #787878
}

.error-message {
    color: red;
    font-size: 13px;
}

.button {
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}